> 카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers 

> DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv’

Question 56

데이터를 로드하고 데이터 행과 열의 갯수를 출력하라

In [25]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv',index_col=0)
Ans = df.shape
display(df)
Ans

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294

(10127, 18)

Question 57

Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e

In [15]:
dic = {
    'Unknown' : 'N', 
    'Less than $40K' : 'a', 
    '$40K - $60K' : 'b', 
    '$60K - $80K' : 'c', 
    '$80K - $120K' : 'd', 
    '$120K +' : 'e' 
}
df['newIncome'] = df.Income_Category.map(lambda x:dic[x])
income_ = df['newIncome']
display(income_)

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

Question 58

Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e

In [17]:
def changeCategory(x) :
    if x == 'Unknown' :
        return 'N'
    elif x == 'Less than $40K' :
        return 'a'
    elif x == '$40K - $60K' :
        return 'b'
    elif x == '$60K - $80K' :
        return 'c'
    elif x == '$80K - $120K' :
        return 'd'
    elif x == '$120K +' :
        return 'e'

df['newIncome'] = df.Income_Category.apply(changeCategory)
income_ = df['newIncome']
display(income_)

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: newIncome, Length: 10127, dtype: object

Question 59

Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라

In [23]:
df['AgeState'] = df.Customer_Age.map(lambda x: x//10 *10)
CA = df['AgeState'].value_counts().sort_index()
display(CA)

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

Question 60

Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [33]:
df['newEduLevel'] = df.Education_Level.map(lambda x: 1 if 'Graduate' in x else 0) 
new_edu_level = df['newEduLevel'].value_counts()
display(new_edu_level)

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

Question 61

Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [35]:
df['newLimit'] = df.Credit_Limit.map(lambda x: 1 if x >= 4500 else 0)
new_limit = df['newLimit'].value_counts()
display(new_limit)

newLimit
1    5096
0    5031
Name: count, dtype: int64

Question 62

Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

In [41]:
def check(x) :
    if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum' :
        return 1
    else :
        return 0

df['newState'] = df.apply(check, axis=1)
MS = df['newState'].value_counts()
display(MS)

newState
0    10120
1        7
Name: count, dtype: int64

Question 63

Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

In [43]:
def changeGender(x):
    if x =='M':
        return 'male'
    else:
        return 'female'
        
df['Gender'] = df.Gender.apply(changeGender)
gender = df['Gender'].value_counts()
display(gender)

Gender
female    5358
male      4769
Name: count, dtype: int64